.people1 {
  img {
    position: absolute;
    left: 55.59%;
    right: 0.73%;
    top: 17.12%;
    bottom: 72.99%;
    z-index: 1;
  }
}

.people2 {
  img {
    position: absolute;
    left: 0%;
    top: 120%;
    z-index: 1;
  }
}

.people3 {
  img {
    position: absolute;
    right: 0%;
    top: 327.64%;
    bottom: -9.77%;
    z-index: 1;
  }
}
