.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 54px;
  }

  .VStack-container {
    & h4 {
      font-weight: 300;
      padding: 10px 0;
      margin: 0;
    }
    & p {
      padding: 0;
      margin: 10px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 41px;
    }

    div {
      &.two-column {
        display: flex;
        flex-basis: row;
        width: 120vh;
        & p.text-description:first-child {
          flex: 2;
          margin-right: 36px;
        }
        & p.text-description:last-child {
          flex: 3;
        }
      }
    }
    .profiles {
      display: flex;
      flex-direction: row;
      padding: 5px 5px;
      width: 100%;
      height: 300px;
      background-color: #EBEBEB;
      .profile {
        margin-right: 3%;
        text-align: center;
        p {
          font-size: 28px;
          &.profile-position {
            font-size: 22px;
            color: #2f3f4f;
          }
        }
      }
    }
  }
}
